<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="keywords" content="{{ appName }}" />
    <meta name="description"
        content="La sécurisation passionnée des personnes et de leurs biens tout en offrant des services intégrés." />
    <meta name="author" content="{{ appName }}" />
    <title>{{ appName }}</title>
    <link rel="shortcut icon" href="{{ logo | logo }}">
    <link rel="apple-touch-icon" sizes="128x128" href="{{ logo | logo }}">
    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:400,500&display=swap"
        rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />
</head>

<body>
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="/">
                    <div class="logo_box">
                        <img src="{{ logo | logo }}" alt="{{ appName }}" />
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mr-2">
                        {% for item in menus %}
                        <li class="nav-item {%- if item.active -%}{{ ' active' }}{%- endif -%}">
                            <a class="nav-link" href="{{ item.link }}">
                                {{ item.name | capitalize }}
                                {%- if item.active -%}
                                <span class="sr-only">(current)</span>
                                {%- endif -%}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    {% block content %}{% endblock %}

    <!-- info section -->
    <section class="info_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-4 info_detail">
                    <div>
                        <p>
                            {{ footer.message }}
                        </p>
                    </div>
                </div>
                <div class=" col-md-4 address_container">
                    <div>
                        <h3>
                            Address:
                        </h3>
                        <div class="address_link-container">
                            <a href="">
                                <img src="images/location.png" alt="">
                                <span> Address: {{ address.address }}</span>
                            </a>
                            <a href="">
                                <img src="images/phone.png" alt="">
                                <span> Tel: {{ address.tel }}
                                </span>
                            </a>
                            <a href="">
                                <img src="images/mail.png" alt="">
                                <span>
                                    Email: {{ address.email }}
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4 news_container">
                    <div>
                        <div>
                            <h3>
                                Newsletter
                            </h3>
                            <form action="">
                                <input type="email" placeholder="Entrer votre Email">
                                <div>
                                    <button type="submit">
                                        S'abonner
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="social_container">
                            <div>
                                <img src="images/fb.png" alt="">
                            </div>
                            <div>
                                <img src="images/twitter.png" alt="">
                            </div>
                            <div>
                                <img src="images/linkedin.png" alt="">
                            </div>
                            <div>
                                <img src="images/youtube.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end info section -->

    <!-- footer section -->
    <section class="container-fluid footer_section">
        <p>
            Copyright &copy;
            <script>document.write(new Date().getFullYear())</script> Tous droits réservés par
            <a href="/">Evsa</a>
        </p>
    </section>
    <!-- footer section -->

    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js">
    </script>
    <script type="text/javascript">
        $(".owl-carousel").owlCarousel({
            loop: true,
            margin: 20,
            nav: true,
            navText: [],
            autoplay: true,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            }
        });
    </script>
    <script>
        $(".nav_search-btn").click(function () {
            if ($(".nav_search-input").hasClass("d-none")) {
                event.preventDefault();
                $(".nav_search-input")
                    .animate({
                        left: "-1000px"
                    },
                        "1000000"
                    )
                    .removeClass("d-none");
            } else {
                $(".nav_search-input")
                    .animate({
                        left: "0px"
                    },
                        "1000000"
                    )
                    .addClass("d-none");
            }
        });
    </script>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 11,
                center: {
                    lat: 40.645037,
                    lng: -73.880224
                },
            });

            var image = 'images/maps-and-flags.png';
            var beachMarker = new google.maps.Marker({
                position: {
                    lat: 40.645037,
                    lng: -73.880224
                },
                map: map,
                icon: image
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap">
    </script>
</body>

</html>