{% layout 'layout.liquid' %}
{% block content %}
<!-- slider section -->
<section class="slider_section">
    <div id="carouselExampleIndicators" class="carousel slide vert" data-ride="carousel">
        <ol class="carousel-indicators">
            {%- for slider in sliders -%}
            <li data-target="#carouselExampleIndicators" data-slide-to={{ forloop.index0 }}"
                class="{% if forloop.index0 == 0 %}active{% endif %}"></li>
            {%- endfor -%}
        </ol>
        <div class="carousel-inner">
            {%- for slider in sliders -%}
            <div class="carousel-item {% if forloop.index0 == 0 %}{{ ' active' }}{% endif %}">
                <div class="slider_box" style="background-image: url('{{ slider.image }}');">
                    <div class="fixed_company-detail">
                        <p>
                            {{ slider.trail_title }}
                        </p>
                    </div>
                    <div class="slider-detail">
                        <div class="slider_detail-heading">
                            <h2>
                                {{ slider.lead_title }}
                            </h2>
                            <h1>
                                {{ slider.title }}
                            </h1>
                        </div>
                        <div class="slider_detail-text">
                            <p>
                                {{ slider.description }}
                            </p>
                        </div>
                        <div class="slider_detail-btn">
                            <a href="/about">
                                <span>
                                    Lire Plus
                                </span>
                                <img src="images/arrow.png" alt="" class="ml-2" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {%- endfor -%}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
<!-- end slider section -->

{% render 'sections/welcome.liquid', welcomeDetails: welcomeDetails %}

<!-- service section -->
{% render 'sections/service.liquid', services: services %}
<!-- end service section -->

<!-- security section -->
{% render 'sections/security.liquid' %}
<!-- end security section -->


<!-- story section -->
<section class="layout_padding story_section">
    <div class="container-fluid">
        <div class="row">
            <div class=" col-md-6">
                <div>
                    <img class="img-fluid" src="images/security.jpg" alt="" />
                </div>
            </div>
            <div class=" col-md-6">
                <div class="story_detail">
                    <h3>
                        Our
                    </h3>
                    <h2>
                        Success Stories
                    </h2>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page
                        when
                        looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of
                        letters, as opposed to using 'Content here, content here', making it look like readable English.
                        Many
                        desktop publishing packages and web page editors now use Lorem Ipsum as their default model
                        text, and a
                        search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions
                        have evolved
                        over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                    </p>
                    <div class="story_detail-btn">
                        <a href="">
                            <span>
                                Lire Plus
                            </span>
                            <img src="images/arrow-black.png" alt="" class="ml-2" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end story section -->

{% render 'sections/contact.liquid' %}

{% endblock %}